 <!-- put border -->
    <!-- <div class="position-relative"> -->
        <div class="row align-items-start">
            <div class="col">
        
            </div>
            <div class="col">
                <h1 class="text-primary pb-5"> Bread Business </h1>
                
            </div>
            <div class="col">
        
            </div>
          </div>
          <div class="row">
          <ul class="nav nav-pills">


            <li class="nav-item col-3 px-3">
              <a class="nav-link link-light bg-secondary" aria-current="page"  href="/eggs">Eggs</a>

            </li>
            <li class="nav-item col-3 px-3" >
              <a class="nav-link link-light active" href="/bread">Bread</a>
            </li>
            <li class="nav-item col-3 px-3">
              <a class="nav-link link-light bg-secondary" href="/butter">Butter</a>
            </li>
               <li class="nav-item col-3 px-3">
              <a class="nav-link link-light bg-secondary " href="/cheese">Cheese</a>
            </li>
          </ul>
          </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!-- <a class="navbar-brand" href="#">Navbar w/ text</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse row" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item col-3 px-4">
        <a class="nav-link " href="/eggs">Eggs 
          {{!-- <span class="sr-only">(current)</span> --}}
        </a>
      </li>
      <li class="nav-item col-3 px-4">
        <a class="nav-link active" href="/bread">Bread</a>
      </li>
      <li class="nav-item col-3 px-4">
        <a class="nav-link" href="/butter">Butter</a>
      </li>
      <li class="nav-item col-3 px-4">
        <a class="nav-link" href="/cheese">Cheese</a>
      </li>
    </ul>
    {{!-- <span class="navbar-text">
      Navbar text with an inline element
    </span> --}}
  </div>
</nav>
<!-- </div> -->
    <!-- put border -->
   <a href="/"><button class="btn btn-success">Home</button></a>