/* .nav-link{
   color: white;
} */
.nav-link:hover{
    color: red;
    background-color: brown;
}
a:hover{
background-color: purple!important;
color: red!important;

}
.nav-item:hover{

    background-color: red!important;
    color: seagreen!important;
}
 .nav-pills:hover{color: red!important;
background-color: white !important;}
